html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  color: #000;
}

.title {
  font-size: 36pt;
}

#app-holder {
  margin: 20px;
}
